*{
    box-sizing:  border-box;
}

.header{
    padding: 40;
    text-align: center;
    background: blue;
    color: aliceblue;
    display: block;
}

#current-weather{ display: flex; flex-direction: column-reverse;

}


/* media query for larger screens */
@media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
}